In [30]:
import pandas as pd
import numpy as np
import time

In [6]:
import sys
stdout = sys.stdout
reload(sys)
sys.setdefaultencoding('utf-8')
sys.stdout = stdout

----

#### Read reference data into dataframe

In [9]:
df = pd.read_csv('../reference_w_loc.csv')

In [10]:
df

,id,description,duration,location,reported_at,shape,sighted_at,geocoded_latitude,geocoded_longitude,city,state,country
0,0,"Man repts. witnessing &quot;flash, followed by...",NaN,"Iowa City, IA",19951009,unknown,19951009,41.661256,-91.529911,Iowa City,Iowa,us
1,1,"Man on Hwy 43 SW of Milwaukee sees large, bri...",2 min.,"Milwaukee, WI",19951011,unknown,19951010,43.034993,-87.922497,Milwaukee,Wisconsin,us
2,2,Telephoned Report:CA woman visiting daughter w...,NaN,"Shelton, WA",19950103,unknown,19950101,47.215094,-123.100707,Shelton,Washington,us
3,3,Man repts. son&apos;s bizarre sighting of smal...,2 min.,"Columbia, MO",19950510,unknown,19950510,38.951883,-92.333737,Columbia,Missouri,us
4,4,Anonymous caller repts. sighting 4 ufo&apos;s ...,NaN,"Seattle, WA",19950614,unknown,19950611,47.603832,-122.330062,Seattle,Washington,us
5,6,Female student w/ friend witness huge red ligh...,2 min.,"Fargo, ND",19950419,unknown,19950420,46.877229,-96.789821,Fargo,North Dakota,us
6,7,"Man repts. bright, multi-colored obj. in NW ni...",NaN,"Las Vegas, NV",19950911,unknown,19950911,36.166286,-115.149225,Las Vegas,Nevada,us
7,8,Woman reports 2 craft fly over house. Strange...,NaN,"Morton, WA",19950214,unknown,19950115,39.909834,-75.323521,Morton,Pennsylvania,us
8,9,"Young man w/ 2 co-workers witness tiny, distin...",6 min.,"Redmond, WA",19950915,unknown,19950915,47.669414,-122.123877,Redmond,Washington,us
9,10,Man repts. seeing 2x large ships hovering in n...,NaN,"Renton, WA",19950220,unknown,19940801,47.479908,-122.203450,Renton,Washington,us
10,11,"Man &amp; mother report small, glowing, cigar-...",1 min.,"Springfield, IL",19950724,unknown,19950722,39.798976,-89.644369,Springfield,Illinois,us
11,12,"Man witnessed &quot;tablet shaped obj., like s...",NaN,"Sharon, MA",19950612,unknown,19950611,42.123710,-71.178663,Sharon,Massachusetts,us
12,13,Several children report to their father that t...,5 sec.,"Laporte, WA",19950823,unknown,19950821,41.423967,-76.494113,Laporte,Pennsylvania,us
13,14,GA Hwy. Patrol dispatch repts. trooper observe...,NaN,"Villa Rica, GA",19950416,unknown,19950416,33.732052,-84.919108,Villa Rica,Georgia,us
14,15,Woman witnesses object. (Facts unclear.),NaN,"Raymond, WA",19950207,unknown,19950207,46.686484,-123.732947,Raymond,Washington,us
15,16,Woman repts. bizarre &quot;half circle&quot; o...,NaN,"Orlando, FL",19951117,unknown,19951118,28.542400,-81.379437,Orlando,Florida,us
16,17,"Woman, children, and grandmother witness 4 biz...",5 min.,"Glade Spring, VA",19950611,unknown,19950610,36.791225,-81.771232,Glade Spring,Virginia,us
17,18,Woman repts. eight people observing very large...,25 min.,"Silver Beach, NY",19950514,unknown,19950514,40.811667,-73.806389,NYC,New York,us
18,19,Man &amp; wife witness bright white light w/ r...,NaN,"Lewiston, MT",19950204,unknown,19950204,44.100351,-70.214776,Lewiston,Maine,us
19,20,Woman witnesses &quot;meteor shower&quot; over...,NaN,"Fort Myers Beach, FL",19950911,unknown,19950812,26.452025,-81.948145,Fort Myers Beach,Florida,us
20,21,Anon. rpt. of bizarre obj. that &quot;looked l...,20 sec.,"St. Augustine, FL",19951106,unknown,19951106,29.894695,-81.314539,St. Augustine,Florida,us
21,23,Nine adults witnessing 6-8 objects moving in w...,5 min.,"Fontana, CA",19950314,unknown,19950314,34.092233,-117.435048,Fontana,California,us
22,25,"Woman repts. seeing two large, bright objects,...",NaN,"Lebanon, OR",19950516,unknown,19950506,44.536547,-122.906876,Lebanon,Oregon,us
23,26,Man &amp; wife witness two sightings of an obj...,30 sec.,"Newtown, CT",19950730,unknown,19950730,41.413476,-73.308644,Newtown,Connecticut,us
24,27,Father &amp; son witness strange obj. streak a...,2 sec.,"Prescott, AZ",19950822,unknown,19950822,34.540281,-112.469518,Prescott,Arizona,us
25,28,Bangor Facility empl. witnesses 6 strange ligh...,20 sec,"Quilcene, WA",19950207,unknown,19950207,47.822294,-122.875171,Quilcene,Washington,us
26,29,Man outside smoking witnesses 3 &quot;dull ora...,2 sec.,"Silverdale, WA",19950910,unknown,19950909,47.659409,-122.676632,Silverdale,Washington,us
27,30,A public employee calls NUFORC to report a ver...,15 min,"Cordova, AK",19950328,unknown,19950328,60.543944,-145.758910,Cordova,Alaska,us
28,31,"Woman repts. stationary light in sky, which di...",NaN,"Folsom, NJ",19950404,unknown,19950404,39.602061,-74.842665,Folsom,New Jersey,us
29,32,Journalist calls seeking information regarding...,NaN,"Harrisonburg, VA",19950302,unknown,19950228,38.449331,-78.868883,Harrisonburg,Virginia,us
...,...,...,...,...,...,...,...,...,...,...,...,...
38481,61023,Dot of light moving quickly across the sky N-N...,5 minutes,"Lynnwood, WA",20100815,light,20100814,47.827866,-122.305393,Lynnwood,Washington,us
38482,61024,"Pink saucer seen over Whistling Straits, Wisco...",NaN,"Whistling Straits, WI",20100815,disk,20100815,43.849569,-87.735731,Sheboygan,Wisconsin,us
38483,61025,Fast Moving Dim light Filmed going Past Bright...,2 minutes,"Oak Lawn, IL",20100815,light,20100813,41.710866,-87.758108,Oak Lawn,Illinois,us
38484,61026,Fireball in the skyI was out fishing on big ce...,45-60 seconds,"West Bend, WI",20100811,fireball,20100806,43.425278,-88.183428,West Bend,Wisconsin,us
38485,61028,Changes shape and flashing lights- one dark wi...,10 minutes,"Boston, MA",20100810,changing,20100803,42.360482,-71.059568,Boston,Massachusetts,us
38486,61030,lights over providencewhile at the fire water ...,15 minutes,"Providence, RI",20100817,diamond,20100814,41.823989,-71.412834,Providence,Rhode Island,us
38487,61032,"Black object at least 20,000 ft. up, over a h...",30 seconds,"Ft. Buchanan (Puerto Rico),",20100815,circle,20100814,18.413048,-66.121114,Pueblo Viejo,Puerto Rico,us
38488,61034,"Sphere-like UFO sighted over San Antonio, Texa...",30 minutes or so,"San Antonio, TX",20100807,sphere,20100805,29.424600,-98.495141,San Antonio,Texas,us
38489,61035,Flame- like light moving across sky at helicop...,30 seconds,"Ardsley, NY",20100828,other,20100828,41.010653,-73.843745,Ardsley,New York,us
38490,61037,four fireballs moving rapidly south at 9:45pm ...,45 seconds,"Morris, IL",20100821,fireball,20100821,60.684882,-151.122266,Morris,Illinois,us
38491,61038,Large white craft seen on 1-70W during morning...,45 seconds,"Washington (near), PA",20100826,unknown,20100821,38.897643,-77.006146,Washington,District of Columbia,us
38492,61040,Illuminating circular object whisking through ...,3 hours,"Lapeer, MI",20100827,circle,20100826,43.051416,-83.318834,Lapeer,Michigan,us
38493,61041,"A bright orange ball moving south, stopping an...",3 minutes,"Cooperstown, NY",20100807,fireball,20100807,42.700630,-74.924321,Cooperstown,New York,us
38494,61042,A Brilliant White Light Like I have never seen...,2 minutes,"Wheat Ridge, CO",20100819,circle,20100819,39.766098,-105.077206,Wheat Ridge,Colorado,us
38495,61043,very bright and silent light traveling across ...,1 - 1.5 minutes,"Fond du Lac, WI",20100812,circle,20100808,43.774876,-88.445803,Fond du Lac,Wisconsin,us
38496,61045,This was an orange ball of light just over the...,20 minutes,"North Myrtle Beach, SC",20100810,light,20100810,33.827841,-78.680032,North Myrtle Beach,South Carolina,us
38497,61046,Bright flashing light travels erratically in b...,over 20 minutes,"Bellevue, WA",20100829,flash,20100829,47.614422,-122.192337,Bellevue,Washington,us
38498,61048,"High, fast, zig-zag/wobbly flight pattern ...M...",One minute,"Montgomery, AL",20100813,unknown,20100812,32.366966,-86.300648,Montgomery,Alabama,us
38499,61050,"Cross-like UFO off 91 freeway in Anaheim, CA.O...",23 minutes,"Anaheim, CA",20100808,cross,20100808,33.834752,-117.911732,Anaheim,California,us
38500,61053,I seen a blunt horizontal oval light streak th...,2 seconds,"Ocala, FL",20100814,light,20100814,29.187199,-82.140092,Ocala,Florida,us
38501,61054,looking North we saw a triangle shaped object ...,15 minutes,"Medford, OR",20100812,triangle,20100811,42.326418,-122.871860,Medford,Oregon,us
38502,61056,Orange-yellow light at high altitude in Detroi...,1 minute,"St. Clair Shores, MI",20100810,unknown,20100807,42.496980,-82.888805,St. Clair Shores,Michigan,us
38503,61057,Two bright lights in sky that almost hit then ...,2 minutes,"Downers Grove, IL",20100826,light,20100826,41.794607,-88.006900,Downers Grove,Illinois,us
38504,61058,MISSOURI INVESTIGATORS GROUP REPORT: Observed ...,15 seconds,"Blue Springs, MO",20100828,light,20100701,39.017316,-94.282265,Blue Springs,Missouri,us
38505,61059,i was looking up at the sky for the internatio...,30min,"Mason, OH",20100827,disk,20100828,39.360059,-84.309939,Mason,Ohio,us
38506,61060,We were heading to get dinner when all three o...,40 seconds,"Los Angeles, CA",20100828,disk,20100828,34.054935,-118.244476,LA,California,us
38507,61061,never seen anything like it.i was drivivg home...,10 min,"Hartwell, GA",20100820,oval,20090424,34.352882,-82.932087,Hartwell,Georgia,us
38508,61062,multiple fireballs in sky over long islandat 1...,20 minutes,"Franklin Square, NY",20100826,fireball,20100821,40.707324,-73.675963,Franklin Square,New York,us
38509,61063,"Very bright flashing in a pattern of red, whit...",at lest 45 min,"Brighton, CO",20100827,circle,20100827,39.985262,-104.820528,Brighton,Colorado,us
38510,61065,Flash of light made me look up to see a dark c...,15 seconds,"Fort Knox, KY",20100824,triangle,20050502,37.889672,-85.966417,Fort Knox,Kentucky,us

In [13]:
# read the sports dataset with GPS coordinates
sports_df = pd.read_csv('msf_w_coord.csv')

In [14]:
sports_df.head(3)

,urban_area,country,pop_rank,population,major_4_cnt,major_6_cnt,NFL,MLB,NBA,NHL,MLS,CFL,ua_lat,ua_lon
0,New York City,United States,1,"20,685,000",9,11,Giants Jets[note 1],Yankees Mets[note 2],Knicks Nets,Rangers Islanders Devils[note 3],Red Bulls New York City FC,�,40.730646,-73.986614
1,Los Angeles,United States,2,"15,135,000",8,10,Rams Chargers[note 4],Dodgers Angels,Lakers Clippers,Kings Ducks,Galaxy Los Angeles FC[note 5],�,34.054935,-118.244476
2,San Francisco Bay Area,United States,7,"5,955,000",6,7,49ers Raiders[note 6],Giants Athletics,Warriors,Sharks[note 7],Earthquakes,�,37.788497,-122.355847

---

#### haversine distance

In [16]:
def distance_np(c1, c2):
    """
    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees)

    All args must be of equal length.    

    """
    lon1, lat1 = c1 
    lon2, lat2 = c2
    
    lon2_,lat2_ = lon2,lat2
    
    lon1, lat1, lon2, lat2 = map(np.radians, [lon1, lat1, lon2, lat2])

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = np.sin(dlat/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2.0)**2

    c = 2 * np.arcsin(np.sqrt(a))
    km = 6367 * c
    miles = km/1.609344
    return miles

----

In [35]:
t0 = time.time()

sports_df['distance_from_target'] = float("inf")

df['closest_metro_name'] = "NA"
df['closest_metro_distance'] = float("inf")
df['closest_metro_pop'] = float("inf")
df['closest_metro_m4'] = float("inf")
df['closest_metro_m6'] = float("inf")

for index,row in df.iterrows():
    longitude = row['geocoded_longitude']
    latitude = row['geocoded_latitude']
    
    sports_df_with_distance_to_current_row = sports_df.assign(distance_from_target = distance_np((latitude,longitude),(sports_df['ua_lat'],sports_df['ua_lon'])))
    smallest_distance_row = sports_df_with_distance_to_current_row.nsmallest(1, 'distance_from_target').head(1).squeeze()
    closest_metro_name = smallest_distance_row['urban_area']
    closest_metro_distance = smallest_distance_row['distance_from_target']
    closest_metro_pop = smallest_distance_row['population']
    closest_metro_m4 = smallest_distance_row['major_4_cnt']
    closest_metro_m6 = smallest_distance_row['major_6_cnt']
    
    df.ix[index, 'closest_metro_name'] = closest_metro_name
    df.ix[index, 'closest_metro_distance'] = closest_metro_distance
    df.ix[index, 'closest_metro_pop'] = closest_metro_pop
    df.ix[index, 'closest_metro_m4'] = closest_metro_m4
    df.ix[index, 'closest_metro_m6'] = closest_metro_m6
    
t1 = time.time()
print t1-t0

415.463745117

In [36]:
df.head()

,id,description,duration,location,reported_at,shape,sighted_at,geocoded_latitude,geocoded_longitude,city,state,country,closest_metro_name,closest_metro_distance,closest_metro_pop,closest_metro_m4,closest_metro_m6
0,0,"Man repts. witnessing &quot;flash, followed by...",NaN,"Iowa City, IA",19951009,unknown,19951009,41.661256,-91.529911,Iowa City,Iowa,us,St. Louis,88.981643,"2,195,000",2.0,2.0
1,1,"Man on Hwy 43 SW of Milwaukee sees large, bri...",2 min.,"Milwaukee, WI",19951011,unknown,19951010,43.034993,-87.922497,Milwaukee,Wisconsin,us,Milwaukee,0.000000,"1,415,000",2.0,2.0
2,2,Telephoned Report:CA woman visiting daughter w...,NaN,"Shelton, WA",19950103,unknown,19950101,47.215094,-123.100707,Shelton,Washington,us,Seattle,55.154815,"3,475,000",2.0,3.0
3,3,Man repts. son&apos;s bizarre sighting of smal...,2 min.,"Columbia, MO",19950510,unknown,19950510,38.951883,-92.333737,Columbia,Missouri,us,Minneapolis Saint Paul,56.543882,"2,795,000",4.0,5.0
4,4,Anonymous caller repts. sighting 4 ufo&apos;s ...,NaN,"Seattle, WA",19950614,unknown,19950611,47.603832,-122.330062,Seattle,Washington,us,Seattle,0.000000,"3,475,000",2.0,3.0

#### save df to pick / read df from pickle

In [37]:
# df.to_pickle('../pickle_files/df_ref_w_loc_and_sports.pkl')
# df = pd.read_pickle('../pickle_files/df_ref_w_loc_and_sports.pkl')

---

In [38]:
df.to_csv('reference_w_sports.csv', index=False)