In [39]:
import pandas as pd
from geopy.geocoders import Nominatim
geolocator = Nominatim()

In [40]:
import sys
stdout = sys.stdout
reload(sys)
sys.setdefaultencoding('utf-8')
sys.stdout = stdout

In [41]:
df = pd.read_csv('major_sports_franchises.csv')

In [42]:
df.head(1)

,urban_area,country,pop_rank,population,major_4_cnt,major_6_cnt,NFL,MLB,NBA,NHL,MLS,CFL
0,New York City,United States,1,"20,685,000",9,11,Giants Jets[note 1],Yankees Mets[note 2],Knicks Nets,Rangers Islanders Devils[note 3],Red Bulls New York City FC,�

In [43]:
geolocator.geocode("New York City")

Location((40.7306458, -73.9866136, 0.0))

----

### For each urban area, get the latitude longitude

In [46]:
# add a latitude 'ua_lat' column
df['ua_lat'] = 0.0

# add a longitude 'ua_lon' column
df['ua_lon'] = 0.0

In [47]:
for index,row in df.iterrows():
    ua = row['urban_area']
    print ua
    geocoded_location = geolocator.geocode(ua)
    df.ix[index, 'ua_lat'] = geocoded_location.latitude
    df.ix[index, 'ua_lon'] = geocoded_location.longitude

New York City
Los Angeles
San Francisco Bay Area
Chicago
Dallas Fort Worth
Philadelphia
Washington, D.C.
Boston
Minneapolis Saint Paul
Denver
Miami
Phoenix
Detroit
Toronto
Houston
Atlanta
Tampa Bay
Cleveland
Pittsburgh
Seattle
Kansas City
Baltimore
St. Louis
Cincinnati
Indianapolis
Milwaukee
Charlotte
Nashville
Buffalo
New Orleans
Montreal
Vancouver
Orlando
Portland
Columbus
Calgary
Salt Lake City
Edmonton
Ottawa
Winnipeg
San Diego
Las Vegas
San Antonio
Sacramento
Jacksonville
Memphis
Raleigh
Oklahoma City
Hamilton, Ontario
Green Bay
Regina

In [48]:
df.head(5)

,urban_area,country,pop_rank,population,major_4_cnt,major_6_cnt,NFL,MLB,NBA,NHL,MLS,CFL,ua_lat,ua_lon
0,New York City,United States,1,"20,685,000",9,11,Giants Jets[note 1],Yankees Mets[note 2],Knicks Nets,Rangers Islanders Devils[note 3],Red Bulls New York City FC,�,40.730646,-73.986614
1,Los Angeles,United States,2,"15,135,000",8,10,Rams Chargers[note 4],Dodgers Angels,Lakers Clippers,Kings Ducks,Galaxy Los Angeles FC[note 5],�,34.054935,-118.244476
2,San Francisco Bay Area,United States,7,"5,955,000",6,7,49ers Raiders[note 6],Giants Athletics,Warriors,Sharks[note 7],Earthquakes,�,37.788497,-122.355847
3,Chicago,United States,3,"9,185,000",5,6,Bears[note 8],Cubs White Sox,Bulls[note 9],Blackhawks,Fire,�,41.875555,-87.624421
4,Dallas Fort Worth,United States,5,"6,280,000",4,5,Cowboys,Rangers,Mavericks,Stars,FC Dallas,�,32.737904,-97.239428

In [50]:
df.to_csv('msf_w_coord.csv', index=False)